body{
    margin: 0px;
    padding: 0px;
    font-family: 'DM Sans';
    
}
a{
    text-decoration: none;
}



/*main*/



.header_logo{
    margin: 20px 547px 0px 64px;
}
.header{
    display: flex;
}
.header_navigation{
    margin: 20px 64px 0px 0px;
    display: flex;
    width: 676px;
    justify-content: space-between;
}
.mainsite_text{
    display: block;
    margin: 100px 334px 0px 334px;
    text-align: center;
}
.mainsite_text_1{
    font-size: 64px;
    width: 772px;
}
.mainsite_text_2{
    font-size: 16px;
    width: 772px;
}
.mainsite_img{
    display: flex;
    margin: 64px 0px 112px 0px;
    width: 1440px;
    justify-content: space-between;
    
}
.mainsite_img_1{
    height: 200px;
    margin-top: 60px;
}



/* secondsite */



.secondsite_up{
    margin: 160px 80px 0px 80px;
    width: 1280px;
    height: 194px;
    display: flex;
    justify-content: space-between;

}
.secondsite_up_high{
    font-size: 24px;
    color: #111111;
    font-style: bold;
}
.secondsite_up_lower{
    font-size: 16px;
    color: #4f4f4f;
}
.secondsite_down{
    width: 1280px;
    margin: 176px 80px 160px 80px;
    display: flex;
}
.secondsite_down_1{
    width: 600px;
    height: 96px;
    font-size: 40px;
    color: #111111;
    font-style: bold;
}
.secondsite_down_2{
    width: 600px;
    height: 135px;
    font-size: 18px;
    color: #4f4f4f;
}




/* careers */




.careers{
    padding-top: 1px;
    width: 1280px;
    height: 4000px;
    background-color: #111111;
    margin-left: 80px;
    color: #ffffff;
}
.careers_navigation{
    margin: 60px 113px 0px 64px;
    width: 1103px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}
.careers_vkladka_1{
    display: flex;
    margin: 120px 69px 0px 64px;
    width: 1147px;
    height: 520px;
}
.careers_vkladka_1_img{
    height: 520px;
    width: 600px;
}
.careers_vkladka_1_img_2{
    height: 29px;
    width: 77px;
    margin-bottom: 0px;
}
.careers_vkladka_1_txt{
    padding: 123.5px 0px 123.5px 80px;
    display:flex;
    flex-direction: column;
    height: 273px;
    width: 468px;
}
.careers_vkladka_1_txt_1{
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 40px;
    width: 468px;
    height: 96px;
}
.careers_vkladka_1_txt_2{
    margin-top: 24px;
    font-size: 18px;
    width: 468px;
    height: 108px;
}
.careers_vkladka_2{
    display: flex;
    margin: 220px 69px 0px 64px;
    width: 1147px;
    height: 520px;
}
.careers_vkladka_2_img{
    height: 520px;
    width: 600px;
}
.careers_vkladka_2_img_2{
    height: 29px;
    width: 77px;
    margin-bottom: 0px;
}
.careers_vkladka_2_txt{
    padding: 123.5px 80px 123.5px 0px;
    display:flex;
    flex-direction: column;
    height: 273px;
    width: 468px;
}
.careers_vkladka_2_txt_1{
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 40px;
    width: 468px;
    height: 96px;
}
.careers_vkladka_2_txt_2{
    margin-top: 24px;
    font-size: 18px;
    width: 468px;
    height: 108px;
}
.careers_vkladka_3{
    display: flex;
    margin: 220px 69px 0px 64px;
    width: 1147px;
    height: 520px;
}
.careers_vkladka_3_img{
    height: 520px;
    width: 600px;
}
.careers_vkladka_3_img_2{
    height: 29px;
    width: 77px;
    margin-bottom: 0px;
}
.careers_vkladka_3_txt{
    padding: 123.5px 0px 123.5px 80px;
    display:flex;
    flex-direction: column;
    height: 273px;
    width: 468px;
}
.careers_vkladka_3_txt_1{
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 40px;
    width: 468px;
    height: 96px;
}
.careers_vkladka_3_txt_2{
    margin-top: 24px;
    font-size: 18px;
    width: 468px;
    height: 108px;
}
.careers_vkladka_4{
    display: flex;
    margin: 220px 69px 0px 64px;
    width: 1147px;
    height: 520px;
}
.careers_vkladka_4_img{
    height: 520px;
    width: 600px;
}
.careers_vkladka_4_img_2{
    height: 29px;
    width: 77px;
    margin-bottom: 0px;
}
.careers_vkladka_4_txt{
    padding: 123.5px 80px 123.5px 0px;
    display:flex;
    flex-direction: column;
    height: 273px;
    width: 468px;
}
.careers_vkladka_4_txt_1{
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 40px;
    width: 468px;
    height: 96px;
}
.careers_vkladka_4_txt_2{
    margin-top: 24px;
    font-size: 18px;
    width: 468px;
    height: 108px;
}
.careers_vkladka_5{
    display: flex;
    margin: 220px 69px 0px 64px;
    width: 1147px;
    height: 520px;
}
.careers_vkladka_5_img{
    height: 520px;
    width: 600px;
}
.careers_vkladka_5_img_2{
    height: 29px;
    width: 77px;
    margin-bottom: 0px;
}
.careers_vkladka_5_txt{
    padding: 123.5px 0px 123.5px 80px;
    display:flex;
    flex-direction: column;
    height: 273px;
    width: 468px;
}
.careers_vkladka_5_txt_1{
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 40px;
    width: 468px;
    height: 96px;
}
.careers_vkladka_5_txt_2{
    margin-top: 24px;
    font-size: 18px;
    width: 468px;
    height: 108px;
}